body {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: var(--font-family-sans-serif), 'Microsoft JHengHei';
}
h1 h2{
    color: white;
    text-align: center;
    font-family: var(--font-family-sans-serif), 'Microsoft JHengHei';
}
h3 {
    font-size: 60px;
}